*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.MainSectionComponent{
display: flex;
flex-direction: column;
max-width: 100%;
align-items: center;
text-align: center;
margin-top: 98px;
}
.googleImage img{
    height: 100px;
}

.button{
    background-color: #ccc;
    border: none;
    outline: none;
    margin: 4px;
    padding: 8px;
}